/* Swiper Container */
.swiper-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
  }
  
  /* Swiper Slide */
  .swiper-slide img {
    width: auto;
    max-height: 100%;
  }
  
  /* Navigation Buttons */
  .swiper-button-prev, .swiper-button-next {
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  
  /* Pagination */
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff; /* Active bullet color */
  }
  